<div class="settings-section">
  <div class="settings-title">Resize</div>
  <div class="list">
    <form class="form-resize" id="canvas-resize" name="formResize">
      <label>
        <input id='width32' type="radio" name="canvasSize" value="32">
        <span class="resize-caption">32x32</span>
      </label><br>
      <label>
        <input id='width64' type="radio" name="canvasSize" value="64">
        <span class="resize-caption">64x64</span>
      </label><br>
      <label>
        <input id='width128' type="radio" name="canvasSize" value="128">
        <span class="resize-caption">128x128</span>
      </label><br>
      <input type="submit" value="Resize" class="button">
    </form>
  </div>
</div>
