<li class="preview-tile selected" data-tile-number="0">
  <div class="canvas-container">
    <div class="canvas-background"></div>
    <canvas width="96" height="96" class="tile-view"></canvas>
    <button rel="tooltip" data-placement="right" data-tile-action="delete"
            class="tile-overlay delete-frame-action icon-frame-recyclebin-white"
            style="display: block;" data-original-title="Delete this frame"></button>
    <button rel="tooltip" data-placement="right" data-tile-action="clone"
            class="tile-overlay duplicate-frame-action icon-frame-duplicate-white"
            data-original-title="Duplicate this frame"></button>
  </div>
</li>
