<div class="preview-container">
  <div class="canvas-container-wrapper">
    <div class="canvas-container">
      <div class="preview-actions">
        <div class="preview-fullscreen-icon"></div>
      </div>
      <div class="preview-canvas-container">
        <div class="canvas-background"></div>
        <div class="background-image-frame-container"></div>
      </div>
    </div>
  </div>
  <div>
    <span id="display-fps" class="display-fps">12 FPS</span>
    <input id="preview-fps" class="range-fps" type="range" min="0" max="24">
  </div>
</div>
