<ul class="tools-wrapper">
<!--  <li id="tool-paint-bucket" class="tool-icon icon-tool-paint-bucket"></li>-->
  <li id="tool-pen" class="tool-icon icon-tool-pen selected" data-tool-id="tool-pen"></li>
  <li id="tool-vertical-mirror-pen" class="tool-icon icon-tool-vertical-mirror-pen" data-tool-id="tool-vertical-mirror-pen"></li>
  <li id="tool-stroke" class="tool-icon icon-tool-stroke" data-tool-id="tool-stroke"></li>
  <li id="tool-eraser" class="tool-icon icon-tool-eraser" data-tool-id="tool-eraser"></li>
  <li id="tool-bucket" class="tool-icon icon-tool-paint-bucket" data-tool-id="tool-bucket"></li>
  <li id="tool-colorswap" class="tool-icon icon-tool-colorswap" data-tool-id="tool-colorswap"></li>
  <li id="tool-rectangle" class="tool-icon icon-tool-rectangle" data-tool-id="tool-rectangle"></li>
  <li id="tool-circle" class="tool-icon icon-tool-circle" data-tool-id="tool-circle"></li>
  <li id="tool-colorpicker" class="tool-icon icon-tool-colorpicker" data-tool-id="tool-colorpicker"></li>
  <li id="tool-broom" class="tool-icon icon-tool-broom" data-tool-id="tool-broom"></li>
  <li id="tool-move" class="tool-icon icon-tool-move" data-tool-id="tool-move"></li>
  <li id="tool-shape-select" class="tool-icon icon-tool-shape-select" data-tool-id="tool-shape-select"></li>
  <li id="tool-dithering" class="tool-icon icon-tool-dithering" data-tool-id="tool-dithering"></li>
</ul>
